<div class="container flex flex-col items-center justify-center h-full">
  <div class="flex flex-col border-2 border-primary rounded-lg p-[2rem]">
    <div class="text-[1rem] text-secondary font-bold mb-[2rem]">Lets Start With The Basics</div>
  </div>
</div>
